body {
    font-family: 'Roboto Mono', monospace;
    min-height: 854px;
    background-color: #F2F2F2;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding-bottom: 20vh;
}

.container {
    text-align: center;
    padding: 20px;
}

.page-logo {
  width: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.logo-jogo {
  width: 100px;
  position: center;
  top: 10px;
  right: 10px;
}

.page-title {
    color: #F2BBBB;
    margin: 5px 0;
}

button, .button-jogar {
    padding: .8rem 1.5rem;
  font-family: 'Roboto Mono', monospace;
  background-color: #F2BBBB;
  color: #ffffff;
    margin: 1rem 0;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}

button:hover {
    opacity: 0.5;
}

button:disabled {
    background-color: #e6e7e8;
}

button:disabled:hover {
    background-color: #e6e7e8;
  opacity: 1;
}

h2 {
    color: #F2D377;
  font-size: 18px;
  font-family: 'Roboto Mono', monospace;
}

h4 {
  color: #485157;
  font-size: 16px;
  font-family: 'Roboto Mono', monospace;
}

.fimJogo {
  color: #485157;
  font-size: 16px;
  font-family: 'Roboto Mono', monospace;
}

select {
   padding: .8rem 1.5rem;
  font-family: 'Roboto Mono', monospace;
  color: #485157;
  background-color: #fff1ab;
    margin: 1rem 0;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}

#carta-jogador, #carta-maquina {
    width: 360px;
    height: 500px;
    overflow: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    position: relative;
    background-size: 350px 300px;
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 10px;
    border-radius: 33px;
}

#carta-jogador h3 {
    text-align: center;
}

.carta-imagem {
    border: 1px solid black;
    height: 100px;
    margin: 10px;
}

.carta-imagem img {
    width: 100%;
    height: 100%;
}

.carta-status {
    height: 160px;
    margin: 2rem;
    color: #485157;
    z-index: 2;
}

.resultado-final {
    color: #F2D377;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 1rem;
        }

.--spacing {
    margin-left: 2.5rem;
}

form {
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.carta-subtitle {
    z-index: 2;
    position: absolute;
    top: 16px;
    left: 37px;
    font-weight: 800;
  color: #485157;
    text-transform: uppercase;
}

.jogadores {
  width: 100px;
  position: center;
  top: 10px;
  right: 10px;
}

#cartas {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.carta-status p {
    margin-bottom: 2rem;
}

.resultado {
  color: #F2D377;
  font-size: 20px;
  font-weight: bolder;
}

.placarJogador {
  color: #F2BBBB;
  font-size: 100px;
  font-weight: bolder;
  bottom: 20px;
}

.placarMaquina {
  color: #F2BBBB;
  font-size: 100px;
  font-weight: bolder;
    bottom: 20px;
}

center {
  color: #485157;
  font-size: 15px;
}

.linha {
  display: flex;
  flex-flow: row wrap;
    }

.coluna-50 {
  width: 50%;
   text-align: center;
    }